.b-dropdown__options-list {
    max-width: 400px;
    max-height: 0;
    box-shadow: 0 0 1px 1px inset var(--app-brand-gray);
    z-index: 1;
    top: 30px;
    left: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: var(--app-brand-gray-light);
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}

.app-navigation__toggler.expanded .b-dropdown__options-list {
    max-height: 150px;
}

.b-options-list__option {
    padding: var(--spacing-sm);
    text-align: left;
}

.b-options-list__option {
    cursor: pointer;
}

.b-options-list__option:hover {
    background-color: var(--app-brand-gray);
}

.b-options-list__option.selected {
    background-color: var(--app-brand-gray);
}