.app-table {
    width: 100%;
}

.app-table__head {
    background-color: var(--app-brand-gray);
}

.app-table__cell, .app-table__cell--header {
    text-align: left;
    padding: var(--spacing-xs);
}