.app-capture-employee-container {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.app-employee-catalog-container {
    width: 75%;
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .app-capture-employee-container, .app-employee-catalog-container {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .app-capture-employee-container {
        width: 35%;
    }

    .app-employee-catalog-container {
        width: 65%;
    }
}