.app-client__capture {
    border-right: 1px solid var(--app-brand-gray);
    margin-right: var(--spacing-lg);
    padding-right: var(--spacing-lg);
    height: calc(100vh - 60px - var(--spacing-md));
    min-height: 100%;
}

@media screen and (max-width: 767px) {
    .app-client__capture {
        height: auto;
        padding-right: 0;
        margin-right: 0;
    }
}